<html><head>
<meta charset="utf-8">
<meta name="robots" content="none">
<title>多米多 - 注&nbsp;&nbsp;册</title>
<link href="/css/base.css" rel="stylesheet">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
</head>
<body class="loginbodybg">

<!--[if lte IE 9]> 
	<div style="width:100%; height:35px; line-height:35px; background:#ddd; text-align:center; font-size:14px; font-weight:bold; color:red; ">
		亲！您所使用的IE内核浏览器版本过低，可能会导致页面访问出现异常错误！请升级到IE11版本或切换成高速渲染模式，也可以使用Firefox浏览器（火狐）或者Chrome浏览器（谷歌）来浏览网页。
	</div> 
<![endif]-->

<div class="loginC regC" id="registerApp">
	<h1>
		<li>
			<a href="#" class="logoa"><img src="images/logo_zh.png"></a>
			<a href="#" class="langa" title="change to English">English</a>
			<a href="#" class="langa" title="切换成简体中文">简体中文&nbsp;|&nbsp;</a>
		</li>
	</h1>
	<div class="form">
        <validator  name="validation">
        <form novalidate>
		<h2>用户注册</h2>
		<dl>
			<dd>
				<span>推荐人：</span>
				<em>
					<b>{{model.refer_name}}</b>
					<input type="hidden" value="{{model.refer}}" >
				</em>
			</dd>
			<dd>
				<span>推荐人手机：</span>
				<em>
					<b>{{model.refer}}</b>
				</em>
			</dd>
			<dd class="ipd">
				<span>性别：</span>
				<em>
					<label class="s1" style="height:45px;"><input type="radio" name="sex" v-model="model.sex" class="sex" value="1" checked="true"></label>
					<label class="s2" style="height:45px;"><input type="radio" name="sex" v-model="model.sex" class="sex" value="2"></label>
				</em>
			</dd>
			<dd class="ipd">
				<span>昵称：</span>
				<em>
					<input type="text" v-model="model.nickname" v-validate:nickname="validationRules.nickname" class="text2"><i>*</i>
				</em>
                <validation-errors :field="$validation.nickname"></validation-errors>
			</dd>
			<dd class="ipd">
				<span>登录密码：</span>
				<em>
					<input type="text" id="pwd" v-model="model.pwd" v-validate:pwd="validationRules.pwd" class="text2"><i>*</i>
				</em>
                <validation-errors :field="$validation.pwd"></validation-errors>
			</dd>
			<dd class="ipd">
				<span>安全密码：</span>
				<em>
					<input type="text" v-model="model.pay_pwd" v-validate:pay_pwd="validationRules.pay_pwd" class="text2"><i>*</i>
				</em>
                <validation-errors :field="$validation.pay_pwd"></validation-errors>
			</dd>
			<dd class="ipd">
				<span>会员手机：</span>
				<em>
					<input type="text" v-model="model.mobile" v-validate:mobile="validationRules.mobile" class="text2"><i>*</i>
				</em>
                <validation-errors :field="$validation.mobile"></validation-errors>
			</dd>
			<dd class="ipd">
				<span>图形验证码：</span>
				<em>
					<input type="text" class="text3" v-model="model.captcha" v-validate:captcha="validationRules.captcha">
					<a href="javascript:void(0);" style="position:relative;" class="validate" title="下一张" onclick="document.getElementById('captchaImg').src='/core/captcha.php?ImgGetCaptcha=true#'+Math.random();">
						<img id="captchaImg" style="width:157px; height:44px; box-shadow:0 0 5px #ccc;position:absolute;top:-44px;right:-156px;" src="/core/captcha.php?ImgGetCaptcha=true">
					</a>
				</em>
                <validation-errors :field="$validation.captcha"></validation-errors>
			</dd>
			<dd class="ipd">
				<span>手机验证码：</span>
				<em>
					<input type="text" v-model="model.mobile_checkcode" v-validate:mobile_checkcode="validationRules.mobile_checkcode"  class="text3">
					<input type="button" class="sbtn" data-type="reg" id="send_mobile_checkcode" value="获取验证码">
					<i>*</i>
				</em>
                <validation-errors :field="$validation.mobile_checkcode"></validation-errors>
			</dd>
			<dd class="ipd">
				<span>&nbsp;</span>
				<em>
                    <input type="button" v-if="$validation.valid" class="btn" @click="register" value="注&nbsp;&nbsp;册">
                    <input type="button" v-else class="btn" style="background-color:#888;cursor:not-allowed" value="注&nbsp;&nbsp;册">
                </em>
			</dd>
			<dd class="ipd">
				<span>&nbsp;</span>
				<em></em>
			</dd>
		</dl>
        </form>
        </validator>
	</div>
</div>
<script src="/build/vendor1.js"></script>
<script src="/build/register.js"></script>
</body>
</html>